.header {
  min-height: 4rem;
  display: flex;
  align-items: center;
  padding: 1.5rem 2rem;

  box-shadow: 0 0 1rem 1rem rgba(0, 0, 0, .1);

  &-app {
    font-size: 3rem;
    font-weight: bold;

    &:link, &:visited, &:active {
      color: inherit;
      text-decoration: none;
    }
  }
}
