.upload {
  &-label {
    background-color: rgba(0, 0, 0, .1);
    padding: .6rem 1.5rem;
    border-radius: 4rem;
    display: inline-block;
  }

  &-input {
    display: none;
    visibility: hidden;
  }
}
